include layout/utils

mixin page-hero(props)
  -
    props = Object.assign({
      title: '',
      text: '',
      picture: '',
      mobPicture: '',
      count: '',
      mode: false,
      isAboutPage: false,
    }, props || {})

  .section.page-hero
    .page-hero__wrapper
      picture
        source(srcset=props.mobPicture media='(max-width: 1000px)')
        +img(props.picture).page-hero__image
    if props.mode
      .page-hero__content.mode-content
        .page-hero__title=props.title
        .page-hero__text
          p #{props.text}
    else if props.isAboutPage
      .page-hero__content._about
        .page-hero__title=props.title
        .page-hero__text
          p #{props.text}
        .page-hero__company смарт
    else
      .page-hero__content
        .page-hero__title=props.title
          if props.count
            span.count <br>/#{props.count}
        .page-hero__text
          p #{props.text}
          .arrow
            +img(require('assets/icons/arrow.svg'))