include layout/utils
include ui/breadcrumbs/breadcrumbs

mixin page-hero(props)
  -
    props = Object.assign({
      title: '',
      text: '',
      picture: '',
      mobPicture: '',
      count: '',
      mode: false,
      isAboutPage: false,
    }, props || {})

  .section.page-hero
    +breadcrumbs([ 'Главная', 'O компании'])
    .page-hero__wrapper
      picture
        source(srcset=props.mobPicture media='(max-width: 1000px)')
        +img(props.picture).page-hero__image
    if props.mode
      .page-hero__content.mode-content
        .page-hero__title: h1=props.title
        .page-hero__text: p #{props.text}
    else if props.isAboutPage
      .page-hero__content._about
        .page-hero__title: h1=props.title
        .page-hero__text: p #{props.text}
        .page-hero__company смарт
    else
      .page-hero__content
        .page-hero__title
          h1=props.title
          if props.count
            span.count /#{props.count}
        .page-hero__text
          p #{props.text}
          button.arrow
            +img(require('assets/icons/arrow.svg'))